html
{
    background-image: url("https://img.gs/czjpqfbdkz/full/https://raw.githubusercontent.com/mov-rax-rbx/rsmatrix/HEAD/gif/preview3.gif");
   background-size: cover; 
    background-repeat: no-repeat;
}

h1{
    text-align: center;

    font-family: 'Smooch Sans', sans-serif;
    font-size:1.5cm;
    font-weight: bolder;
    color: aqua;

}
p{
        background-color: black ;
    background-size: cover;
        font-size: 0.75cm;
    color:white;
}
a{
    font-size: 0.5cm;
    text-align: center;
    color: aqua;
    
}
#cont{
    padding:0%
}
#cont2{
    padding:0%
}
section{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
  background-size: cover;
}

section div{
    padding-left: 30px;
    font-size: 30px;
    color: aqua;
}
div{
    display: inline-block;
}

p{
    font-family: 'Fredoka', sans-serif;
    /* font-family: 'Smooch Sans', sans-serif; */
}
div span {
    font-family: 'Smooch Sans', sans-serif;
}
